body {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 750px;
    overflow: hidden;
    
    .sidebar {
      flex-basis: 17%;

      &.collapsed{
          flex-basis: 10%;
      }
    }
    
    .main {
      flex: 1;
    }
  }
}
